@font-face {
  font-family: "fonticons";
  src: url('../../assets/fonts/fonticons.eot');
  src: url('../../assets/fonts/fonticons.eot?#iefix') format('eot'),
    url('../../assets/fonts/fonticons.woff') format('woff'),
    url('../../assets/fonts/fonticons.ttf') format('truetype'),
    url('../../assets/fonts/fonticons.svg#fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-styling(){
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "fonticons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
  line-height: inherit;
}

[class^="gfx-"], [class*=" gfx-"]{
  &:before, &.after:after{
    .font-styling();
  }
  &:before{margin-right: 0.5em;}
  &.after {
    &:before{display: none;}
    &:after {margin-left: 0.5em;}
  }
}

.gfx(@class, @element: before){
  & when(@element = before){
    &:before{
      .glyphmap();
    }
  }
  
  & when(@element = after){
    &:after{
      .glyphmap();
    }
  }

  .glyphmap(){
    .font-styling();
    & when (@class = loupe){ content: "\E001" }
    & when (@class = cross){ content: "\E002" }
    & when (@class = check){ content: "\E003" }
    & when (@class = arrow_small_right){ content: "\E004" }
    & when (@class = plus){ content: "\E005" }
    
  }
}

.gfx-loupe:before { content: "\E001" }
.gfx-cross:before { content: "\E002" }
.gfx-check:before { content: "\E003" }
.gfx-arrow_small_right:before { content: "\E004" }
.gfx-plus:before { content: "\E005" }


.after.gfx-loupe:after { content: "\E001" }
.after.gfx-cross:after { content: "\E002" }
.after.gfx-check:after { content: "\E003" }
.after.gfx-arrow_small_right:after { content: "\E004" }
.after.gfx-plus:after { content: "\E005" }