<div 
	class="board" 
	ng-model="board"
	ng-class="{
		board_marked: board.mark
	}"
>

	<div class="navigation_left">
		<a class="navigation_close" href="#/list"></a>
		

		<!-- <div class="gfx-cut cut" ng-show="commandIsPressed" ng-click="cut();" title="Cut selected bits"></div>
		<div class="gfx-paste paste" ng-show="clipboarded" ng-click="paste();" title="Paste cut bits"></div> -->
	</div>

	<div class="navigation_toggle" ng-click="openMenu();"></div>

	<div class="navigation_right board_menu">
		<div class="navigation_interior">
			<!-- <a class="gfx-cross close" ng-click="closeMenu()" href="#/list"></a> -->

			<div class="gfx-note-new newNote" title="" ng-click="newNote(board.id)">New note in this board</div>
			<!-- <div class="gfx-cross kill" 
				title="Delete board"
				ng-click="killBoard(board.id)"
				ng-class="{
					prevent: !boardIsEmpty,
					warn: killWarn
				}"
			>
				<span>You can only delete a board when it's empty. :)</span>
			</div> -->
			<a class="gfx-history history" href="#/history" title="" ng-if="historyCounter()">Recently edited notes (<span ng-bind="historyCounter()"></span>)</a>
			<!-- <a class="gfx-info info" href="#/info" ng-click="closeMenu()" title="">View a quick tutorial</a> -->
			<div class="gfx-concentric concentricity" ng-click="concentric()" title=""></div>
			<div class="gfx-lightbulb lightbulb" ng-click="lightbulb()" title=""></div>
			<a class="gfx-licklogo colophon"  href="#/colophon" ng-click="closeMenu()" title="">Colophon</a>
			<div class="gfx-logout logout" ng-click="logout();" title="Log out">Log out</div>
		</div>

	</div>

	<div class="interior interior_large board_interior">			

		<div class="textarea-container board_title">			
			<textarea 
				ng-model="board.title" 
				ng-model-options="{ debounce: 250 }"
				placeholder="Untitled board"
			></textarea>
			<div class="textarea-autosize" ng-bind="board.title"></div>
		</div>

		<div 
			class="board_body" 
			ng-model="notes"
			gridster="boardGridOpts"
		>
			<ul>
				<li 
					ng-repeat="note in notes"
					ng-if="note.parent === board.id"
					class="board_note id_{{note.id}}"
					ng-class="{marked: note.mark}"
					gridster-item="boardItemOpts_private"
					data-id="{{note.id}}"
				>					
					<a 
						class="title" 
						href="#/note/{{note.id}}" 
						ng-click="$event.stopPropogation();" 
						ng-if="note.title">
						<span class="title_check gfx-check_thick" ng-if="note.mark"></span>
						{{ note.title }}
					</a>
					<a 
						class="title blank" 
						href="#/note/{{note.id}}" 
						ng-click="$event.stopPropogation();" 
						ng-if="!note.title">Untitled Note</a>

					<div class="star gfx-star-outline" ng-if="note.id !== board.starred" ng-click="starNote(note.id)"></div>
					<div class="star gfx-star-fill" ng-if="note.id === board.starred" ng-click="starNote(null)"></div>
					<div class="gfx-check_thick mark" ng-click="note.mark = !note.mark"></div>
					<a class="gfx-transfer change" href="#/change/{{note.id}}"></a>	

					<div class="grabber gfx-move"></div>
				</li>

				<li 
					ng-repeat="note in sharedFilter"
					class="board_note shared_note id_{{note.id}}"
					ng-class="{marked: note.mark}"
					gridster-item="boardItemOpts_shared"
					data-id="{{note.id}}"
				>
					<a 
						class="title" 
						href="#/sharednote/{{note.id}}" 
						ng-click="$event.stopPropogation();" 
						ng-if="note.title">
						<span class="shared gfx-shared"></span>
						<span class="title_check gfx-check_thick" ng-if="note.mark"></span>
						{{ note.title }}
					</a>
					<a 
						class="title blank" 
						href="#/sharednote/{{note.id}}" 
						ng-click="$event.stopPropogation();" 
						ng-if="!note.title">
						<span class="shared gfx-shared"></span>
						Untitled Shared Note
					</a>

					<div class="star gfx-star-outline" ng-if="note.id !== board.starred" ng-click="starNote(note.id)"></div>
					<div class="star gfx-star-fill" ng-if="note.id === board.starred" ng-click="starNote(null)"></div>
					<div class="gfx-check_thick mark" ng-click="note.mark = !note.mark"></div>
					<a class="gfx-transfer change" href="#/change/{{note.id}}"></a>

					<div class="grabber gfx-move"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
















