<div class="list lookingAt_{{lookingAt}}">

	<div class="navigation_left">
		<!-- <div class="list_switcher">
			<i class="gfx-note" ng-click="lookingAt = 'notes'"></i>
			<i class="gfx-board" ng-click="lookingAt = 'boards'"></i>
		</div> -->
	</div>

	<div class="navigation_toggle" ng-click="openMenu();"></div>

	<div class="navigation_right list_menu" data-role="navigation" data-position="fixed" data-tap-toggle="false" data-update-page-padding="false">
		<div class="navigation_interior">
			<div class="gfx-note-new newNote" ng-click="newNote()" title="">New Note</div>
			<div class="gfx-board-new newBoard" ng-click="newBoard()" title="">New Board</div>

			<a class="gfx-history history" href="#/history" title="" ng-if="historyCounter()">Recently edited notes (<span ng-bind="historyCounter()"></span>)</a>
			<!-- <a class="gfx-info info" href="#/info" ng-click="closeMenu()" title="">Help</a> -->
			<div class="gfx-concentric concentric" ng-click="concentric()" title=""></div>
			<a class="gfx-licklogo colophon" href="#/colophon" ng-click="closeMenu()" title="">Colophon</a>
			<div class="gfx-logout logout" ng-click="logout()" title="">Log out</div>
		</div>
		
	</div>

	<div class="list_interior interior">
		
		<!-- <div 
			class="list_carousel"
			hm-swipeleft="lookingAt = 'boards'" 
			hm-swiperight="lookingAt = 'notes'"
		> -->
			<!-- <div class="list_lists"> -->
				<div class="board_list">
					<p class="list_title">Boards</p>
					<li class="list_item list_board"
						ng-repeat="board in boardsFilter(boards) | orderBy: '-lastEdited'"
					>
					<a href="#/board/{{board.id}}" ng-if="board.title" ng-bind="board.title"></a>
					<a href="#/board/{{board.id}}" ng-if="!board.title" class="blank">Untitled Board</a>
					</li>
				</div>

				
				<div 
					class="note_list"
					ng-class="{ containsShared: sharedCount }"
				>
					<div class="note_list_shared">
						<p class="list_title">Shared Notes</p>
						<li class="list_item list_note list_shared_note"
							ng-repeat="note in sharedFilter(sharednotes) | orderBy: '-lastEdited'"
							ng-class="{'danger': note.kill}"
							ng-if="!note.parent"
						>
						<a href="#/sharednote/{{note.id}}" ng-if="note.title" ng-bind="note.title"></a>
						<a href="#/sharednote/{{note.id}}" ng-if="!note.title" class="blank">Untitled Note</a>
						<span class="shared_marker gfx-shared"></span>
						</li>
					</div>
					<div class="note_list_private">
						<p class="list_title">Private Notes</p>
						<li class="list_item list_note"
							ng-repeat="note in privateFilter(notes) | orderBy: '-lastEdited'"
							ng-class="{'danger': note.kill}"
							ng-if="!note.parent"
						>
						<a href="#/note/{{note.id}}" ng-if="note.title" ng-bind="note.title"></a>
						<a href="#/note/{{note.id}}" ng-if="!note.title" class="blank">Untitled Note</a>
						</li>
					</div>
				</div>

			<!-- </div> -->

		<!-- </div> -->
	</div>
</div>