<div 
	class="note sharePrompt_{{sharePrompt}}" 
	ng-model="note"
	ng-class="{
		note_marked: note.mark,
		share_prompting: sharePrompt,
		focused: focused,
		noEditing: noEdit,
		filtering: filtered
	}"
	ng-click="note.kill = false; unselector();"
>
	<div class="navigation_left">
		<div class="navigation_close" ng-click="closeNote()"></div>
		

		<div class="gfx-cut cut" ng-show="commandIsPressed" ng-click="cut();" title="Cut selected bits"></div>
		<div class="gfx-paste paste" ng-show="clipboarded" ng-click="paste();" title="Paste cut bits"></div>
	</div>
	
	<div class="navigation_toggle" ng-click="openMenu();"></div>

	<div class="navigation_right note_menu" data-role="navigation" data-position="fixed" data-tap-toggle="false" data-update-page-padding="false">
		<div class="navigation_interior">
			
			<div class="gfx-note-new newNote" ng-click="newNote()">New Note</div>
			<div class="gfx-cross kill" 
				ng-class="{danger: note.kill}" 
				ng-click="note.kill && killNote(); note.kill = !note.kill; $event.stopPropagation();"
			>Kill Note</div>
			<div class="gfx-check mark" ng-click="note.mark = !note.mark">Mark this note</div>
			<a class="gfx-transfer transfer" href="#/change/{{note.id}}" ng-click="closeMenu()">Send to board</a>
			<a class="gfx-share share" href="#/share/{{note.id}}" ng-click="closeMenu()">Share this note</a>
			<a class="gfx-text text" href="#/text/{{note.id}}" ng-click="closeMenu();">Open in plain text</a>
			<div class="gfx-keylock noEdit mobile" ng-click="noEdit = !noEdit; closeMenu()">Shopping mode</div>
			<div class="gfx-filter filter" ng-click="filtered = !filtered;">Filter checked bits</div>
			
			<a class="gfx-history history" href="#/history" ng-if="historyCounter()" ng-click="closeMenu()">Recently edited notes (<span ng-bind="historyCounter()"></span>)</a>
			<!-- <a class="gfx-info info" href="#/info" ng-click="closeMenu()">Help</a> -->
			<div class="gfx-keyboard showCheatSheet" ng-click="showCheatSheet()">Keyboard shortcuts</div>
			<div class="gfx-concentric concentricity" ng-click="concentric()" title=""></div>
			<div class="gfx-lightbulb lightbulb" ng-click="lightbulb()" title=""></div>
			<a class="gfx-licklogo colophon" href="#/colophon" ng-click="closeMenu()">Colophon</a>
			<div class="gfx-logout logout" ng-click="logout()">Log out</div>

		</div>
	</div>

	<div class="interior note_interior">

		<div class="note_helper"></div>

		<div class="textarea-container note_title">
			<textarea 
				ng-model="note.title"
				ng-model-options="{ debounce: 250 }"
				placeholder="Untitled note"
				ng-keyup="historical_trigger();"
			></textarea>
			<div class="textarea-autosize" ng-bind="note.title"></div>
		</div>

		<div class="note_body" 
			ng-model="note.body" 
			ui-sortable="sortableOptions_note"
			ng-class="{'menuing' : menuing, 'indenting': indenting }"
		>			
			<div 
				ng-repeat="bit in note.body track by $index" 				
				class="note_bit indent_{{bit.tabCount}} menuOpen_{{bit.menu_open}} bitMarked_{{bit.mark}} bitSelected_{{bit.selected}}"
				ng-class="{
					'bit_link': bit.isLink,
					'alt': altIsPressed,
					'gap' : bit.gap
				}"
				ng-click="selector($index, $event);"
				ng-swipe-left="swipe($index, 'left')"
				ng-swipe-right="swipe($index, 'right')"
			>
				<div 
					class="bit_anchor" 
					ng-click="
						toggleBitMenu($index, $event);
					"
				></div>

				<div class="bit_menu">
					<!-- <div class="bit_menu_interior"> -->
						<button class="bit_menu_point gfx-cross kill" ng-click="killBit($index)"></button>
						<button class="bit_menu_point gfx-check_thick mark" ng-click="mark($index, false)"></button>
						<button class="bit_menu_point gfx-loupe search" ng-click="search(bit.content, bit.tabCount, $index)"></button>
						<button class="bit_menu_point gfx-spacer spacer" ng-click="bit.gap = !bit.gap"></button>
					<!-- </div> -->
				</div>

				<div class="textarea-container bit_content">
					<textarea
						class="mousetrap"
						ng-model="bit.content"
						ng-keyup="autoSizer($index, $event, bit.content); historical_trigger(); noteTrigger();"
						ng-click="caretTracker($index); openLink(bit, $event);"
						ng-focus="isFocused(true)"
						ng-blur="isFocused(false)"
					></textarea>
					<div class="textarea-autosize" ng-bind-html="bit.contentCaret"></div>
				</div>

			</div>
			

			<div 
				class="new_bit" 
				ng-click="addBit(note.body.length - 1)"
			></div>

		</div>

		<div class="note_body" 
			ng-if="filtered">
			
			<div 
				ng-repeat="bit in note.body track by $index" 
				ng-if="bit.mark"
				ng-click="bit.mark = false;"
				hm-swipe="bit.mark = false;"
				class="note_bit bitMarked_true"
			>
				<div class="bit_anchor"></div>
				<p ng-bind="bit.content" class="bit_content"></p>
			</div>
		</div>

	</div>

</div>

