.board{
	.board_interior{
		padding-bottom: 50px;
	}
}

.board_title{
	margin: 30px 0 20px;
	padding: 30px 0 15px;
	border-bottom: 5px white solid;

	@media @mobile-min{ 
		font-family: rubiklight;
		padding: 30px 0 20px;
		margin: 0 0 30px;
	}

	textarea{
		margin-top: 0; 
		padding: 30px 0 0 0;
		font-size: 20px;
		line-height: 27px;

		@media @mobile-min{
			font-size: 50px;
			line-height: 60px;		
		}
	}

	.textarea-autosize{
		font-size: 20px;
		line-height: 27px;
		padding: 0;	
		min-height: 25px;

		@media @mobile-min{
			min-height: 50px;
			font-size: 50px;
			line-height: 60px;
		}
	}
}

.board_body{
	position: relative;
	width: 100%;
	display: block;
	// margin-bottom: 50px;

	// width: ~'calc(100% + 10px)';
	// margin: 0 -5px 50px;

	width: ~'calc(100% + 10px)';
	margin: 0 -5px 50px;

	@media @mobile-min{
		margin: 0 -5px -50px;
		padding-bottom: 50px;
		min-height: ~'calc(100% - 150px)';
	}
}

@board_padding: 5px;
@board_button: 45px;
@board_icon: 20px;

.board_note{
	border: 1px @color-primary solid;
	// border-radius: 5px;
	// padding: @board_padding;
	background-color: transparent;
	cursor: move;
	position: absolute;
	.directions_background();
	color: white;
	.transition(~'background-color .25s ease, color .25s ease');

	&.starred{
		background-color: @color-primary !important;
		.directions_color;
	}


	.shared,
	.mark,
	.star,
	.change{
		position: absolute;
		height: @board_button;
		width: @board_button;
		// display: none;
		color: white;
		text-align: center;
		font-size: 20px;

		@media @mobile-min{
			// display: block;
			height: @board_icon;
			width: @board_icon;
		}

		.starred&{
			.directions_color;
		}

		&:before{
			margin: 0;
			line-height: @board_button;

			@media @mobile-min{
				line-height: @board_icon;
			}
		}
	}

	.shared{
		position: relative;
		// float: left;
		width: @board_icon;
		height: @board_icon;

		&:before{
			margin-right: 10px;
			line-height: @board_icon;
		}

		@media @mobile-min{
			position: absolute;
			top: @board_padding;
			left: @board_padding;
			background-color: white;
			// border-radius: 50%;
			.directions_color;
		}
	}

	.star{
		display: none;

		@media @mobile-min{
			display: block;
			left: @board_padding;
			bottom: @board_padding;
			width: @board_icon;
		}
	}

	.mark{
		display: none;

		@media @mobile-min{
			display: block;
			bottom: @board_padding;
			left: 50%;
			margin-left: -(@board_icon + 6) / 2;
			width: @board_icon + 6;
		}

		.marked&{
			background-color: white;
			.directions_color;
		}
	}

	.change{
		color: white;
		display: none;

		@media @mobile-min{
			display: block;
			bottom: @board_padding;
			right: @board_padding;
		}
	}

	.title{
		color: white;
		position: absolute;
		top: 0;
		left: 0;
		padding: @board_padding;		
		height: ~'calc(100% - 30px)';
		overflow: hidden;

		@media @mobile-min{
			// height: ~'calc(100% - @{board_padding} * 2 - @{board_icon})';
			height: 50%;
			width: 100%;
			// overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;  
			white-space: normal;
		}

		.shared_note&{
			@media @mobile-min{
				padding-left: (@board_padding * 2) + @board_icon;
			}
		}

		.marked&{

		}

		.starred&{
			.directions_color;
		}

		.title_check{
			@media @mobile-min{
				display: none;
			}
		}

		span:before{
			margin: 0;
		}
	}

	.grabber{
		position: absolute;
		font-size: 20px;
		line-height: 30px;
		width: 100%;
		bottom: 0;
		height: 30px;
		background-color: white;
		.directions_color;
		left: 10px;
		margin-left: -10px;
		z-index: 1;
		text-align: center;

		&:before{
			margin: 0;
		}

		.starred&{
			.directions_color;
		}

		@media @mobile-min{
			background-color: transparent;
			width: @board_button;
			height: @board_button;
			top: 50%;
			left: 50%;
			margin: 0 0 0 -@board_button / 2;
			line-height: @board_button;
			color: white;
		}
	}

	// a{
	// 	color: @color-primary;

	// 	.starred&{
	// 		.directions_color;
	// 	}
	// }

	// .open{
	// 	position: absolute;
	// 	top: 10px;
	// 	left: 50%;
	// 	height: 30px;
	// 	width: 30px;
	// 	margin-left: -15px;
	// 	font-size: 30px;
	// 	line-height: 30px;
	// 	cursor: pointer;

	// 	@media @mobile-max {
	// 		display: none;
	// 	}		

	// 	&:hover{
	// 		text-decoration: none;
	// 	}

	// 	&:before{
	// 		margin: 0;
	// 	}
	// }




	
}










