.navigation_left{
	position: fixed;
	left: 10px;
	top: 10px;
	width: ~'calc(100% - 20px)';
	height: 50px;
	z-index: 10;
	.directions_background;

	.topNavigation &{
		top: 0;
	}

	@media @mobile-min{
		left: 20px;
		top: 20px;
		height: auto;
		width: 50px;
		background-color: transparent;
	}

	&:before{
		position: absolute;
		bottom: -10px;
		height: 10px;
		width: 100%;
		background-color: white;

		.topNavigation &{
			content: '';
		}

		@media @mobile-min{
			display: none;
		}
	}

	.navigation_close{
		position: absolute;
		height: 50px;
		width: 50px;
		left: 0;
		top: 0;
		cursor: pointer;
		opacity: 1;
		visibility: visible;

		transition: color .5s ease, opacity .5s ease, visibility .5s ease;
		.directions_background;

		&:before, &:after{
			content: '';
			position: absolute;
			height: 4px; 
			width: 26px;
			top: 50%;
			left: 50%;
			margin: -2px 0 0 -13px;
			background-color: white;
		}

		.menuOpen &{
			opacity: 0;
			visibility: hidden;
		}

		&:before{
			transform: rotate(135deg);
		}

		&:after{
			transform: rotate(45deg);
		}
	}
}

.navigation_toggle{
	position: fixed;
	height: 50px;
	width: 50px;
	right: 10px;
	top: 10px;
	cursor: pointer;
	// color: white;
	z-index: 11;
	.directions_background;

	@media @mobile-min{
		right: 20px;
		top: 20px;
	}

	.topNavigation &{
		top: 0;
	}

	.menuOpen &{

	}

	&:before, &:after{
		content: '';
		position: absolute;
		height: 4px; 
		width: 26px;
		top: 50%;
		left: 50%;
		margin: -2px 0 0 -13px;
		background-color: white;
		transition: all .5s ease;
		background-color: white;

		.menuOpen &{

		}
	}

	&:before{
		transform: translateY(-4px);
	}

	&:after{
		transform: translateY(4px);
	}
}


.navigation_right{	
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 0;
	background-color: white;
	color: @color-copy-contrast;
	z-index: 3;
	.transition(width .3s ease);
	.directions_background;
	overflow: scroll;
	
	@media @mobile-min{
		// overflow: hidden;
	}	

	.phoneGap &{
		// border-top: 1px solid @color-primary;
		// top: 20px;
	}

	.menuOpen &{
		width: 100%;

		@media @mobile-min{
			width: @width_navigation;
		}
	}

	.concentric &{
		background-color: transparent !important;
		.transition(~'none !important');
	}

	.phoneGap .focused &{
		// .transform(translate3d(0, -(@height_navigation), 0));
	}

	.navigation_interior{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		padding: @height_navigation + 10px 10px 50px;

		.topNavigation .menuOpen &{
			padding: @height_navigation 10px 10px !important;

			@media @mobile-min{
				padding: @height_navigation 20px 20px !important;
			}
		}

		@media @mobile-min{
			padding: @height_navigation + 20px 20px 20px !important;
		}
		
		a, div{
			line-height: @height_navigation;
			padding: 0 5px 0 0;
			cursor: pointer;
			position: relative;
			float: left;
			font-size: 25px;
			width: 100%;
			height: @height_navigation;
			
			opacity: 1;
			background-color: transparent;
			.transition(all .25s ease);

			.directions_color;
			border-width: 0 0 1px;
			border-style: solid;

			.directions_border_color;
			font-weight: @bold;
			font-size: 12px;

			&:before{
				width: 30px;
				font-size: 25px;
			}
		}
	}

	.menu_opener{
		position: absolute;
		right: 0;
		top: 0;
		height: @height_navigation;
		z-index: 7;

		.directions_color;
	}

	.kill{

		&.prevent:before{
			opacity: .5;
		}

		&.warn span{
			visibility: visible;
			top: @height_navigation + 15px;
			opacity: 1;
		}

		&.danger{
			background-color: @color-primary;
			.directions_color;
		}

		span{
			position: absolute;
			width: 130px;
			top: @height_navigation;
			left: -40px;
			background-color: @color-primary;
			.directions_color;
			padding: 10px;
			opacity: 0;
			font-size: 16px;
			line-height: 18px;
			visibility: hidden;
			border-radius: 5px;
			.transition(all .25s ease);

			&:before{
				content: '';
				position: absolute;
				height: 10px;
				width: 20px;
				top: -10px;
				left: 50%;
				margin-left: -10px;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent @color-primary transparent;
			}
		}
	}

	.note_marked & .mark,
	.board_marked & .mark,
	.noEditing & .noEdit,
	.filtering & .filter{
		background-color: @color-primary;
		.directions_color;
	}

	.share.share_active{
		background-color: @color-primary;
		.directions_color;
	}

	.noEdit{
		margin-left: 1px;

		.noEditing &{
			.directions_background;
			color: white !important;
		}
	}

	.paragraph{
		margin-left: 1px;

		.paragraphing &{
			background-color: @color-primary;
			.directions_color;
		}
	}

	.history span{
		font-size: 14px;
		position: relative;
	}

	.concentricity,
	.lightbulb{
		width: 50% !important;
	}

	.showCheatSheet{
		@media @mobile-max{
			display: none;
		}
	}
}

.mobileTitle(){
	&:after{
		padding: 0 10px 0 @height_navigation + 20px;
		font-size: 18px;
		content: attr(title);
	}
}
