.noteMaster{
	position: relative;
	min-height: 100%;
}

.note{
	min-height: 100%;
}

.note_title{
	margin: 30px 0 20px;
	padding: 30px 0 15px;
	border-bottom: 5px white solid;

	@media @mobile-min{ 
		font-family: rubiklight;
		padding: 30px 0 20px;
		margin: 0 0 30px;
	}

	textarea{
		margin-top: 0; 
		padding: 30px 0 0 0;
		font-size: 20px;
		line-height: 27px;

		@media @mobile-min{
			font-size: 50px;
			line-height: 60px;		
		}
	}

	.textarea-autosize{
		font-size: 20px;
		line-height: 27px;
		padding: 0;	
		min-height: 25px;

		@media @mobile-min{
			min-height: 50px;
			font-size: 50px;
			line-height: 60px;
		}
	}
}

.note_helper{
	position: fixed;
	height: 1px; 
	width: 1px;
	top: 0;
	left: 0;
	background-color: transparent;
}

.note_body{
	position: relative;

	padding-left: 35px;

	@media @mobile-min{
		padding: 0;
	}

	// overflow: auto;

	.phoneGap &{
		// overflow: scroll;
	}

	&.menuing{
		// overflow: inherit;
	}

	.filtering &:not('.filtered_notes') .note_bit.bitMarked_true{ display: none; }
}

@microanimations: .2s;

.note_bit{
	position: relative;
	width: 100%;  
	left: 0;
	margin: 0 0 15px;

	// @note_bit_transition: ~'padding .3s ease, margin .3s ease';
	// .transition(@note_bit_transition);
	transition: all .3s ease;


	&.gap{
		margin-top: 50px;
	}

	&.menuOpen_true{ 
		z-index: 3;
	}

	&.ui-sortable-helper{
		transition: none;
	}

	&.bitMarked_true {

		font-size: 20px;
		line-height: 27px;

		&:before{
			opacity: 1;
			visibility: visible;
		}
	}

	&.menuOpen_true:before{
		left: -125px !important;
	}

	&:after{
		position: absolute;
		top: 3px;
	}

	&.bitSelected_true .bit_content{
		border-style: solid;
	}

	&.indent_1{ 
		left: 20px;
		width: ~'calc(100% - 20px)';
	}
	&.indent_2{ 
		left: 40px;
		width: ~'calc(100% - 40px)';
	} 
	&.indent_3{ 
		left: 60px;
		width: ~'calc(100% - 60px)';
	} 
	&.indent_4{ 
		left: 80px;
		width: ~'calc(100% - 80px)';
	} 

	&:hover{
		&:before{
			left: -68px;
		}

		.bit_anchor:after{
			@media @mobile-min{
				height: 20px;
				width: 20px;
				margin: -12px 0 0 -10px;
			}
		}
	}
}

.bit_anchor{
	position: absolute;
	width: 35px;
	height: 100%;
	left: -35px;
	top: 0;
	z-index: 2;
	cursor: row-resize;

	.ui-sortable-helper &{
		cursor: ns-resize;
	}

	.gfx(check_thick);

	// @media @mobile-min{
	// 	.gfx(check);
	// }

	&:before{
		position: absolute;
		height: 24px;
		width: 24px;
		font-size: 18px;
		line-height: 24px;
		top: 50%;
		left: 0;
		margin: -15px 0 0;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transition: all @microanimations ease;
		// .directions_color;
		// color: white;

		.bitMarked_true &{
			opacity: 1;
			visibility: visible;
		}

		@media @mobile-min{
			color: white !important;
			// height: 100%;
			// width: 0px;
			// margin: 0;
			// margin-top: -10px;
			left: -24px;
			// top: 10px;
			font-size: 24px;
		}
	}

	&:after{
		content: '';
		position: absolute;
		height: 24px;
		width: 24px;
		top: 50%;
		left: 0;
		margin: -15px 0 0;
		background-color: white;
		border-radius: 50%;
		transition: all @microanimations ease;

		.bitMarked_true &{
			background-color: transparent;
			border: 1px solid white;

			@media @mobile-min{
				background-color: white;
				border: 0;
			}
		}		

		@media @mobile-min{
			height: 6px;
			width: 6px;
			left: 50% !important;
			margin: -5px 0 0 -3px;
		}
	}

	// .bitMarked_true &:before{
	// 	top: 1px;
	// 	left: 1px;
	// }

	.menuOpen_true &:after{
		@media @mobile-min{
			height: 20px;
			width: 20px;
			margin: -12px 0 0 -10px;
		}
	}
}


.bit_menu{
	position: absolute;
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	// background-color: white;
	transition: @microanimations ease width;
	z-index: 2;
	overflow: hidden;
	// display: none;
	// opacity: 0;
	// visibility: hidden;
	.directions_background;
	// border: 1px solid white;

	@media @mobile-min{
		border: none;
		transition: @microanimations ease height, @microanimations ease margin-top;
		// display: block;
		width: 50px;
		left: -80px;
		height: 0;
		top: 50%;
		margin: 0;
		transform-origin: center;
		overflow: hidden;
		// opacity: 0;
		// visibility: hidden;
	}

	.menuOpen_true &{
		width: 100%;
		// height: 100%;
		// display: block;
		// opacity: 1;
		// visibility: visible;

		// .indent_1&{ width: ~'calc(100% - 20px)'; }
		// .indent_2&{ width: ~'calc(100% - 40px)'; }
		// .indent_3&{ width: ~'calc(100% - 60px)'; }
		// .indent_4&{ width: ~'calc(100% - 80px)'; }

		@media @mobile-min{
			width: 50px !important;
			height: 152px;
			top: 50%;
			margin-top: -77.5px;
		}

		&:before{
			@media @mobile-min{
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

// .bit_menu_interior{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	// o

// }

.bit_menu_point{
	position: relative;
	float: left;
	overflow: hidden;
	outline: 0;
	height: 100%;
	width: 25%;
	background: none;
	border: 0;
	padding: 0;
	border: 1px solid white;
	border-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 0;

	// translate: 
	// .directions_color;

	@media @mobile-min{
		margin-bottom: 1px;
		border-width: 1px;
		width: 50px;
		height: 50px;
	}

	&:before{
		margin: 0;
	}

	&:nth-of-type(1){ transition-delay: 1 * .1s; border-width: 1px;}
	&:nth-of-type(2){ transition-delay: 2 * .1s; }
	&:nth-of-type(3){ transition-delay: 3 * .1s; }
	&:nth-of-type(4){ transition-delay: 4 * .1s; }

	&.spacer{
		.transition-delay(.15s);

		.gap &{
			.directions_background;
			border: 1px solid @color-primary;
			span{
				color: @color-primary !important;
			}
		}

		@media @mobile-min{
			display: none;
		}
	}

	.bitMarked_true &.mark{
		background-color: white;
		.directions_color;
		// border-width: 10px;
		// // .directions_border_color;
		// border-style: solid;
	}

	// @media @mobile-max{
	// 	.transform(~'rotate(0) !important');
	// 	width: 25%;
	// 	height: 100%;
	// 	position: relative;
	// 	float: left;
	// }
}



.bit_content{
	z-index: 0;

	border-width: 0 0 1px 0;
	border-color: white;
	border-style: dotted;

	padding: 0 0 5px 0;
	
	font-family: rubikregular;
	margin-bottom: 0;
	// padding: 0;
	transition: all .3s ease;
	// padding: 10px 0 0 0;
	min-height: 27px;
	color: @color-primary;

	.bit_link &{
		// border: 0;
		border-style: dashed;

		&:hover{
			.directions_color;
			background-color: @color-primary;

			.mousetrap{
				cursor: pointer;
			}
		}
	}

	.bit_link.alt &{
		border-bottom: 1px @color-primary solid;

		&:hover{
			.directions_background;
			color: @color-primary !important;

			.mousetrap{
				cursor: text;
			}
		}
	}

	.mousetrap{
		.bit_link &{
			// text-decoration: underline;
			// text-decoration-style: dotted;
		}

		.bit_link.alt &{
			text-decoration: none;
		}
	}
	textarea{
		// padding: 0;
		// top: 0;
		// left: 0;
		// transition: all .3s ease;
		// height: ~'calc(100% - 10px)'; 
		// width: ~'calc(100% - 10px)'; 

		// .transition(all .3s ease);

		

		.noEditing &{
			display: none;
		}
	}

	.noEditing & .textarea-autosize{
		opacity: 1;
	}

	textarea, .textarea-autosize{
		font-size: 20px;
		line-height: 27px;
	}
}

.new_bit{
	text-align: center;
	position: relative;
	// float: left;
	width: 100%; 
	height: 33px;
	// background-color: @color-primary;
	cursor: text;

	border-width: 0 0 1px;
	border-color: white;
	border-style: dotted;

	// border-radius: 5px;
	margin: 0 0 100px;
	.transition(color .5s ease);
	.directions_color;

	&:before{
		content: '';
		height: 24px;
		width: 24px;
		background-color: white;
		border-radius: 50%;
		position: absolute;
		left: -35px;
		top: 1px;

		@media @mobile-min{
			height: 6px;
			width: 6px;
			left: -20px;
			top: 11px;
			// left: 50% !important;
			// margin: -5px 0 0 -3px;
		}
	}
}

.marked_filter{
	.note_bit{
		opacity: .5;	
		p{
			border-bottom: 1px @color-primary solid;
			font-size: 20px;
			line-height: 27px;
			padding-bottom: 10px;
			margin: 0;
		}
	}
}

// .share_dialogue{
// 	position: fixed;
// 	height: 100vh;
// 	width: 100%;
// 	top: 0;
// 	left: 0;
// 	z-index: 5;
// 	display: table;
// 	background-color: rgba(0,0,0, 0.5);
// 	opacity: 0;
// 	visibility: hidden;
// 	.transition(all .5s ease);
// 	.transform(scale(1.5));

// 	.share_prompting &{
// 		.transform(scale(1));
// 		opacity: 1;
// 		visibility: visible;
// 	}

// 	.share_dialogue_floater{
// 		display: table-cell;
// 		vertical-align: middle;

// 		.share_dialogue_close{
// 			position: absolute;
// 			top: 50px;
// 			left: 0;
// 			cursor: pointer;
// 			font-size: 25px;
// 			width: 50px;
// 			height: 50px;
// 			color: @color-primary;

// 			&:before{
// 				line-height: 50px;
// 				margin: 0;
// 				width: 100%;
// 				text-align: center;
// 			}
// 		}

// 		.share_dialogue_interior{
// 			padding: 10px;
// 			position: relative;
// 			margin: 0 auto;
// 			width: 100%;
// 			max-width: 500px;

// 			*{
// 				text-align: center;
// 			}

// 			.ng-invalid{
// 				box-shadow: @color-warn 0px 0px 5px 2px;
// 			}

// 			.share_previous{
// 				margin: 0 0 20px;
// 				padding: 0;

// 				li{
// 					cursor: pointer;
// 					list-style: none;
// 					text-align: left;
// 					padding: 10px;
// 					margin: 0 0 5px;
// 					border: 1px @color-primary solid;
// 					border-radius: 5px;
// 				}
// 			}

// 			.share_confirm{
// 				line-height: 40px;
// 				height: 41px;
// 				background-color: @color-primary;
// 				text-align: center;
// 				border: 1px @color-primary solid;
// 				border-radius: 5px;
// 				cursor: pointer;
// 				margin: 10px 0;
// 				overflow: hidden;
// 				outline: 0 !important;
// 				.directions_color;
// 			}
// 		}
// 	}
// }
















