<div 
	class="board" 
	ng-model="board"
	ng-class="{
		board_marked: board.mark
	}"
>

	<div class="header board_menu">

		<div class="new" ng-click="newNote_board(board.id)">new note</div>
		<div class="add" ng-click="newBoard()">new board</div>
		<div class="kill" ng-click="">kill</div>
		<div class="undo" ng-click="">undo</div>
		<div class="mark" ng-click="board.marked = !board.marked">mark</div>

	</div>

	<div class="board_interior">			

		<div class="textarea-container board_title">			
			<textarea ng-model="board.title"></textarea>
			<div class="textarea-autosize">{{board.title}}</div>
		</div>

		<div 
			class="board_body" 
			ng-model="notes"
			gridster="boardGridOpts"
		>
			<ul>
				<li 
					ng-repeat="note in notes"
					ng-if="note.parent === board.id"
					class="board_note"
					ng-class="{marked: note.mark}"
					gridster-item="note"
					row="note.y" 
					col="note.x" 
					size-x="1" 
					size-y="1"
					data-id="{{note.id}}"
				>
					<input type="text" ng-model="note.title">
					<a href="#/note/{{note.id}}">have a look!</a>	
					<button ng-click="note.mark = !note.mark">mark that shit!</button>
					<button ng-click="killNote()">KILL ME</button>
				</li>
			</ul>
		</div>
	</div>
</div>