<div 
	class="list" 
>

	<div class="header list_menu">

		<div class="newNote" ng-click="newNote()">new note</div>
		<div class="newBoard" ng-click="newBoard()">new board</div>

	</div>

	<div class="list_interior">

		<div class="note_list" ng-model="notes" ui-sortable="sortableOptions_list">

			<li 
				ng-repeat="(noteKey, noteValue) in notes | orderBy: 'order'"
				ng-if="!noteValue.parent"
			>
			<a href="#/note/{{noteKey}}">{{ noteValue.title }}</a>
			</li>
		</div>

		<div class="board_list" ng-model="boards" ui-sortable="sortableOptions_list">

			<li 
				ng-repeat="(boardKey, boardValue) in boards"
			>
			<a href="#/board/{{boardKey}}">{{ boardValue.title }}</a>
			</li>
		</div>
	</div>
</div>