<div 
	class="note" 
	ng-model="note"
	ng-class="{
		note_marked: note.mark
	}"
	ng-click="note.kill = false; closeMenu();"
>

	<div class="header note_menu">

		<a class="gfx-cross close" href="#/board/{{note.parent}}" ng-if="note.parent"></a>
		<a class="gfx-cross close" href="#/list" ng-if="!note.parent"></a>

		<div class="gfx-note-new newNote" ng-click="newNote()"></div>
		<div class="gfx-cross kill" 
			ng-class="{danger: note.kill}" 
			ng-click="note.kill && killNote(); note.kill = !note.kill; $event.stopPropagation();"
		></div>
		<div class="gfx-check mark" ng-click="note.mark = !note.mark"></div>
		<a class="gfx-transfer" href="#/change/{{note.id}}"></a>	
		
		<div class="gfx-logout logout" ng-click="logout()" title="Log out"></div>


	</div>

	<div class="interior">

		<div class="textarea-container note_title">
			<textarea ng-model="note.title"></textarea>
			<div class="textarea-autosize">{{note.title}}</div>
		</div>

		<div class="note_body" ng-model="note.body" ui-sortable="sortableOptions_note">
			
			<div 
				ng-repeat="bit in note.body track by $index" 
				class="note_bit indent_{{bit.tabCount}}"
				ng-class="{
					bit_menu_open: bit.menu_open,
					bit_marked: bit.mark
				}"
			>

				<div 
					class="bit_anchor" 
					ng-click="
						bit.menu_open = !bit.menu_open;
						closeMenu(bit.bitID);
						$event.stopPropagation();
					"
				></div>

				<div class="bit_menu">
					<button class="bit_menu_point kill" ng-click="killBit($index)">
						<span class="gfx-cross"></span>
					</button>
					<button class="bit_menu_point mark" ng-click="mark($index)">
						<span class="gfx-check"></span>
					</button>
					<button class="bit_menu_point search" ng-click="search(bit.content)">
						<span class="gfx-loupe"></span>
					</button>
				</div>

				<div class="textarea-container bit_content">			
					<textarea
						class="mousetrap"
						ng-model="bit.content"
						ng-keyup="caretTracker($index)"
						ng-click="caretTracker($index); openLink(bit)"
					></textarea>
					<div class="textarea-autosize" ng-bind-html="bit.contentCaret"></div>
				</div>

			</div>

			<div 
				class="new_bit gfx-plus" 
				ng-click="addBit(note.body.length - 1)"
			></div>

		</div>

	</div>

</div>

